# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Test cache
.pytest_cache/
.coverage
htmlcov/

# Virtual Environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log 